@model IEnumerable<Urbanizacion.Web.Data.Entities.PuntosPagotbl>

@{
    ViewData["Title"] = "Index";
}



<h2 style="text-align:center">Punto de Pago</h2>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
</p>



<div class="col-1">
    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
        <i class="fa fa-times"></i>
        <div class="panel-heading">
            <h3 class="panel-title">Lista de Punto de Pago</h3>
        </div>
        <div class="table-responsive" style="margin-top:5px">

            <table class="table table-striped table-bordered" id="tblNoticias">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.Pun_Descripcion)
                        </th>
                        <th style="text-align:center"> Editar</th>
                        <th style="text-align:center"> Detalles</th>
                        <th style="text-align:center"> Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Pun_Descripcion)
                        </td>
                        <td style="width: 70px; height: 2px;">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning center-block"><i class="glyphicon glyphicon-edit"></i></a>

                        </td>
                        <td style="width: 70px; height: 2px;">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success center-block"><i class="glyphicon glyphicon-list-alt"></i></a>

                        </td>
                        <td style="width: 70px; height: 2px;">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger center-block"><i class="glyphicon glyphicon-trash"></i></a>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>