@model IEnumerable<Urbanizacion.Web.Data.Entities.Propietariostbl>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/tabla/paginate.css">
<link rel="stylesheet" href="~/css/main.css">
<script type="text/javascript" src="~/js/tabla/paginate.js"></script>

<style>
    * {
        font-family: sans-serif;
    }
</style>
<br />

<h3 class="text-titles" style="text-align:center"><i><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
</svg></i><strong> Propietarios</strong> </h3>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
</p>
<flash dismissable="true" />

<body>
    <div class="container">
        <div>

        </div>

        <div class="panel">
            <div class="body">
                <div class="input-group">
                    <label for="searchBox"></label>
                    <input class="form-control" style="width:250px" type="search" id="searchBox" placeholder="Buscar..">
                </div>
            </div>
        </div>




        <div class="col-1">
            <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
                <i class="fa fa-times"></i>
                <div class="panel-heading">

                    <div class="panel-title">
                        Lista de Propietarios
                    </div>
                </div>




                <div class="table-responsive" style="margin-top:5px">

                    <table class="myTable table table-striped table-bordered">
                        <thead>
                            <tr>
                                @*<th style="text-align:center">
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>*@
                                <th style="text-align:center">
                                    @Html.DisplayNameFor(model => model.User.Pro_Lote)
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayNameFor(model => model.User.Pro_Nombres)
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayNameFor(model => model.User.Pro_Apellidos)
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayNameFor(model => model.User.Pro_Identificacion)
                                </th>
                                <th style="text-align:center">
                                    @Html.DisplayNameFor(model => model.User.Pro_Telefono)
                                </th>
                                <th style="text-align:center"> Editar</th>
                                <th style="text-align:center"> Detalles</th>
                                <th style="text-align:center"> Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>*@
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.User.Pro_Lote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Pro_Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Pro_Apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Pro_Identificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Pro_Telefono)
                                    </td>

                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning center-block"><i class="glyphicon glyphicon-edit"></i></a>

                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success center-block"><i class="glyphicon glyphicon-list-alt"></i></a>

                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger center-block"><i class="glyphicon glyphicon-trash"></i></a>
                                        @*<button data-id="@item.Id" class="btn btn-danger deleteItem center-block" data-toggle="modal" data-target="#deleteDialogo"><i class="glyphicon glyphicon-trash"></i></button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>







    </div>
    <script>

        let options = {
            numberPerPage: 5, //Cantidad de datos por pagina
            goBar: true, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter: true, //Contador de paginas, en cual estas, de cuantas paginas
        };

        let filterOptions = {
            el: '#searchBox' //Caja de texto para filtrar, puede ser una clase o un ID
        };

        paginate.init('.myTable', options, filterOptions);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDeletepr").click(function () {
                window.location.href = '/Propietario/Delete/' + item_to_delete;
            });
        });
    </script>
</body>









